<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
わーいヽ(=´▽`=)ﾉちんこ<BR>
<img src="https://www-img.dclog.jp/m/EntryImage?bid=1911026&eid=143463630&t=1413243563&sig=6186e6cd9845cc704f264a77b7d78ddd&rid=2.jpg">